<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header" th:remove="tag">
<meta charset="utf-8">
<link rel="shortcut icon" href="https://paulferrett.com/fontawesome-favicon/generate.php?icon=github&fg=222">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" th:href="@{/css/github-manager.css}">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://unpkg.com/tippy.js@2.5.2/dist/tippy.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.4/dist/loadingoverlay.min.js"></script>
<script id="common-scripts" type="text/javascript">
	$(function() {
		const loading = () => $.LoadingOverlay("show", {
			background : "rgba(255, 255, 255, 0.5)",
			image : "",
			fontawesome : "fa fa-cog fa-spin"
		});
		$("form").on("submit", function() {
		    loading();
		});
		$("a:not([target='_blank'])").on("click", function() {
            loading();
		});
        tippy(".tippy", { placement : "bottom" });
        $(".datetimepicker").datetimepicker();
	});
</script>
</head>
<body>
    <div th:fragment="navbar" th:remove="tag">
        <div class="siimple-navbar siimple-navbar--fluid siimple-navbar--navy">
            <div class="siimple-layout--left">
                <a class="siimple-navbar-title" th:href="@{/}">
                    <i class="fab fa-github"></i> Manager
                </a>
            </div>
            <div class="siimple-layout--right">
                <a class="siimple-navbar-link" th:href="@{/orgs}">Orgs</a>
                <a class="siimple-navbar-link" th:href="@{/search/issues}">Issues</a>
                <a class="siimple-navbar-link" th:href="@{/search/pulls}">Pulls</a>
            </div>
        </div>
        <br>
    </div>
</body>
</html>