server:
  port: 9999
  servlet:
    context-path: /github-manager
spring:
  thymeleaf:
    cache: false
security:
  oauth2:
    client:
      client-id: input your client-id
      client-secret: input your client-secret
      scope:
      - user
      - repo
      access-token-uri: https://github.com/login/oauth/access_token
      user-authorization-uri: https://github.com/login/oauth/authorize
      client-authentication-scheme: form
    resource:
      user-info-uri: https://api.github.com/user
      prefer-token-info: false
    sso:
      login-path: /login
app:
  url:
    github: http://github.com
    github-api: https://api.github.com
  pagination:
    per-page: 100
  analysis:
    comment:
      categories:
        "[good]" : good
        "[bad]" : bad
      category-default: other
