<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Error</title>
<meta charset="utf-8">
<th:block th:replace="~{partial/partials :: header}"></th:block>
</head>
<body>
    <th:block th:replace="~{partial/partials :: navbar}"></th:block>

    <div class="siimple-content--fluid">
        <div class="siimple-breadcrumb">
            <a class="siimple-breadcrumb-crumb" th:href="@{/}">Home</a>
            <a class="siimple-breadcrumb-crumb" href="#">Error</a>
        </div>

        <div class="siimple-h1" th:text="|Error ${status} ${error}|"></div>
        <div class="siimple-h2" th:text="${message}"></div>
        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover" th:if="${not #lists.isEmpty(errors)}">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">Field</div>
                    <div class="siimple-table-cell">Value</div>
                    <div class="siimple-table-cell">Message</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row" th:each="error : ${errors}" th:object="${error}">
                    <div class="siimple-table-cell" th:text="*{field}"></div>
                    <div class="siimple-table-cell" th:text="*{rejectedValue}"></div>
                    <div class="siimple-table-cell" th:text="*{defaultMessage}"></div>
                </div>
            </div>
        </div>
        <div class="siimple-h3">If you want to continue operation, please browser back!</div>
    </div>
</body>
</html>