@charset "UTF-8";

img.avatar {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

img.avatar-circle {
	border-radius: 150px;
	-moz-border-image: border-radius: 150px;
	-webkit-border-image: border-radius: 150px;
}