<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Home</title>
<th:block th:replace="~{partial/partials :: header}"></th:block>
</head>
<body>
    <th:block th:replace="~{partial/partials :: navbar}"></th:block>

    <div class="siimple-content--fluid">
        <div class="siimple-breadcrumb">
            <a class="siimple-breadcrumb-crumb" href="#">Home</a>
        </div>

        <div class="siimple-h1">
            Welcome <span sec:authentication="name"></span>
        </div>
        <div class="siimple-h2">
            This is Simple Github Manager Application.
        </div>
        <div class="siimple-h3">
            <a class="siimple-link" th:href="@{/orgs}">Let's manage your repositories!</a>
        </div>
        <div class="siimple-h3">
            Or you want search
            <a class="siimple-link" th:href="@{/search/issues}">issues</a>
            or
            <a class="siimple-link" th:href="@{/search/pulls}">pull requests</a>
            ?
        </div>
    </div>
</body>
</html>