<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:my="https://io.github.yoshikawaa">
<head>
<title th:text="|Issue#${issue.number} ${issue.title}|"></title>
<th:block th:replace="~{partial/partials :: header}"></th:block>
</head>
<body>
    <th:block th:replace="~{partial/partials :: navbar}"></th:block>

    <div class="siimple-content--fluid">
        <div class="siimple-breadcrumb">
            <a class="siimple-breadcrumb-crumb" th:href="@{/}">Home</a>
            <a class="siimple-breadcrumb-crumb" th:href="@{/search/issues}">Search</a>
            <a class="siimple-breadcrumb-crumb" href="#">Issue</a>
        </div>

        <th:block th:object="${issue}">
            <div class="siimple-h1">
                <a class="siimple-link" target="_blank" th:href="*{htmlUrl}" th:text="|#*{number}|"></a>
                <span th:text="*{title}"></span>
            </div>
            <div class="siimple-h6" th:switch="*{is()}">
                <th:block th:case="closed">
                    <span class="siimple-tag siimple-tag--red">Closed</span>
                    <span th:text="|closed at *{#temporals.format(closedAt, 'yyyy/MM/dd HH:mm')}|"></span>
                </th:block>
                <th:block th:case="*" class="siimple-h3">
                    <span class="siimple-tag siimple-tag--green">Open</span>
                    <span th:text="|created at *{#temporals.format(createdAt, 'yyyy/MM/dd HH:mm')}|"></span>
                </th:block>
                <span class="siimple-tag siimple-tag--grey">
                    <i class="fas fa-check-square"></i>
                    <span th:text="|${statusSummary.get('checked')} / ${statusSummary.get('total')}|"></span>
                </span>
            </div>

            <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
                <div class="siimple-table-body">
                    <div class="siimple-table-row">
                        <div class="siimple-table-cell">Assignees</div>
                        <div class="siimple-table-cell">
                            <a class="siimple-link" th:each="assignee : *{assignees}" th:object="${assignee}"
                                target="_blank" th:href="*{htmlUrl}">
                                <img class="avatar" th:src="*{avatarUrl}">
                                <span th:text="*{login}"></span>
                            </a>
                        </div>
                    </div>
                    <div class="siimple-table-row">
                        <div class="siimple-table-cell">Labels</div>
                        <div class="siimple-table-cell">
                            <a class="siimple-btn" th:each="label : *{labels}" th:object="${label}"
                                th:style="|background-color:#*{color}; color:#*{#colors.letterColor(color)}|"
                                target="_blank" th:href="*{htmlUrl}" th:text="*{name}"></a>
                        </div>
                    </div>
                    <div class="siimple-table-row">
                        <div class="siimple-table-cell">Milestone</div>
                        <div class="siimple-table-cell">
                            <a th:if="${issue.milestone} ne null" th:object="${issue.milestone}"
                                th:class="|siimple-btn siimple-btn--*{state eq 'open' ? 'grey' : 'navy'}|"
                                target="_blank" th:href="*{htmlUrl}" th:text="*{title}"></a>
                        </div>
                    </div>
                    <div class="siimple-table-row">
                        <div class="siimple-table-cell">Body</div>
                        <div class="siimple-table-cell" my:markdown="*{body}"></div>
                    </div>
                </div>
            </div>
        </th:block>

        <span class="siimple-h6">Comments</span>
        <div class="siimple-tip siimple-tip--teal" th:each="comment : ${comments}" th:object="${comment}">
            <small class="siimple-small">
                <a class="siimple-link" target="_blank" th:href="*{user.htmlUrl}" th:text="*{user.login}"> </a>
                commented at
                <a class="siimple-link" target="_blank" th:href="*{htmlUrl}"
                    th:text="|on *{#temporals.format(createdAt, 'yyyy/MM/dd HH:mm')}|"></a>
            </small>
            <br>
            <span my:markdown="*{body}"></span>
        </div>
    </div>
</body>
</html>