<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Milestones</title>
<meta charset="utf-8">
<th:block th:replace="~{partial/partials :: header}"></th:block>
</head>
<body>
    <th:block th:replace="~{partial/partials :: navbar}"></th:block>

    <div class="siimple-content--fluid" th:with="unavailable=${#lists.contains(@unavailableRepos, repo)}">
        <div class="siimple-breadcrumb">
            <a class="siimple-breadcrumb-crumb" th:href="@{/}">Home</a>
            <a class="siimple-breadcrumb-crumb" th:href="@{/orgs}">Orgs</a>
            <a class="siimple-breadcrumb-crumb" th:href="@{/repos/{owner}(owner=${owner})}">Repos</a>
            <a class="siimple-breadcrumb-crumb" href="#">Milestones</a>
        </div>

        <div class="siimple-h1">
            Milestones of <span th:text="|${owner}/${repo}|"></span>
        </div>

        <div class="siimple-alert siimple-alert--pink" th:if="${unavailable}">
            Caution, You disabled this repository oparations. You can configure with property
            <code>app.unavailable.repositories</code>
            .
        </div>
        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell siimple-table-cell--2">Title</div>
                    <div class="siimple-table-cell siimple-table-cell--4">Description</div>
                    <div class="siimple-table-cell siimple-table-cell--2">Due On</div>
                    <div class="siimple-table-cell siimple-table-cell--1">State</div>
                    <div class="siimple-table-cell siimple-table-cell--1">Open / Closed</div>
                    <div class="siimple-table-cell siimple-table-cell--2">Action</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <form class="siimple-table-row" method="post" th:action>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="title" placeholder="title">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="description" placeholder="description">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid datetimepicker" name="dueOn"
                            placeholder="dueOn">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="state" value="open" placeholder="state"
                            readonly>
                    </div>
                    <div class="siimple-table-cell"></div>
                    <div class="siimple-table-cell">
                        <button class="siimple-btn siimple-btn--blue" th:disabled="${unavailable}">Create</button>
                    </div>
                </form>
                <form class="siimple-table-row" method="post" th:action="@{milestones/{number}(number=*{number})}"
                    th:each="milestone : ${milestones}" th:object="${milestone}">
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="title" th:value="*{title}"
                            placeholder="title">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="description" th:value="*{description}"
                            placeholder="description">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid datetimepicker" name="dueOn"
                            th:value="*{#temporals.format(dueOn, 'yyyy/MM/dd HH:mm')}" placeholder="dueOn">
                    </div>
                    <div class="siimple-table-cell">
                        <select class="siimple-select siimple-select--fluid" name="state">
                            <option th:each="state : ${@states}" th:text="${state}" th:selected="${state} == *{state}"></option>
                        </select>
                    </div>
                    <div class="siimple-table-cell" th:text="|*{openIssues} / *{closedIssues}|"></div>
                    <div class="siimple-table-cell">
                        <button class="siimple-btn siimple-btn--green" name="update" th:disabled="${unavailable}">Update</button>
                        <button class="siimple-btn siimple-btn--pink" name="delete" th:disabled="${unavailable}">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>