<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Labels</title>
<th:block th:replace="~{partial/partials :: header}"></th:block>
</head>
<body>
    <th:block th:replace="~{partial/partials :: navbar}"></th:block>

    <form class="siimple-content--fluid" method="post" th:action>
        <div class="siimple-breadcrumb">
            <a class="siimple-breadcrumb-crumb" th:href="@{/}">Home</a>
            <a class="siimple-breadcrumb-crumb" th:href="@{/orgs}">Orgs</a>
            <a class="siimple-breadcrumb-crumb" href="#">Labels</a>
        </div>

        <div class="siimple-h1">
            Manage Labels of
            <span th:text="|${owner}|"></span>
        </div>

        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell siimple-table-cell--3">Name</div>
                    <div class="siimple-table-cell siimple-table-cell--3">Description</div>
                    <div class="siimple-table-cell siimple-table-cell--3">Color</div>
                    <div class="siimple-table-cell siimple-table-cell--3">Action</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="name" placeholder="name">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="description" placeholder="description">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid jscolor" name="color" placeholder="color">
                    </div>
                    <div class="siimple-table-cell">
                        <button class="siimple-btn siimple-btn--blue">Create</button>
                        <button class="siimple-btn siimple-btn--green" name="update">Update</button>
                        <button class="siimple-btn siimple-btn--pink" name="delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-h1">
            Labels of
            <span th:text="|${owner}|"></span>
        </div>

        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell siimple-table-cell--3">Repository</div>
                    <div class="siimple-table-cell siimple-table-cell--1">
                        <div class="siimple-checkbox">
                            <input type="checkbox" id="all-repos" checked>
                            <label for="all-repos"></label>
                        </div>
                    </div>
                    <div class="siimple-table-cell siimple-table-cell--8">Labels</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row" th:each="labels : ${labelsMap}" th:object="${labels}">
                    <div class="siimple-table-cell" th:text="*{key}"></div>
                    <div class="siimple-table-cell">
                        <div class="siimple-checkbox" th:switch="*{#lists.contains(@unavailableRepos, key)}">
                            <input th:case="true" type="checkbox" th:id="|repos-*{key}|" name="repos" th:value="*{key}" disabled>
                            <input th:case="*" type="checkbox" th:id="|repos-*{key}|" name="repos" th:value="*{key}" checked>
                            <label th:for="|repos-*{key}|"></label>
                        </div>
                    </div>
                    <div class="siimple-table-cell">
                        <th:block th:each="label : *{value}" th:object="${label}">
                            <button type="button" class="siimple-btn copyable"
                                th:style="|background-color:#*{color}; color:#*{#colors.letterColor(color)}|"
                                th:id="${#ids.seq('copyable')}" th:text="*{name}"></button>
                            <input type="hidden" th:id="|description-${#ids.prev('copyable')}|" th:value="*{description}">
                            <input type="hidden" th:id="|color-${#ids.prev('copyable')}|" th:value="*{color}">
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(".copyable").on("click", function() {
            const key = $(this).text();
            const id = $(this).attr("id");
            const name = $("input[name='name']");
            const description = $("input[name='description']");
            const color = $("input[name='color']");
    
            name.val(key);
            description.val($("#description-" + id).val());
            color.val($("#color-" + id).val());
    
            color[0].jscolor.fromString(color.val());
    
            $("button:contains('Update')").attr("formaction", "labels/" + key);
            $("button:contains('Delete')").attr("formaction", "labels/" + key);

            $("html,body").animate({  scrollTop: $('form').offset().top  });
        });
        $("#all-repos").on("change", function() {
            const checked = this.checked;
            $("[id^=repos-]").each(function() {
            	if (!this.disabled) {
                    this.checked = checked;
            	}
            });
        });
	</script>
</body>
</html>