<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Milestones</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
</head>
<body>
    <form class="siimple-content--fluid" method="post" th:action>
        <div class="siimple-breadcrumb">
            <a class="siimple-breadcrumb-crumb" th:href="@{/}">Home</a>
            <a class="siimple-breadcrumb-crumb" th:href="@{/orgs}">Orgs</a>
            <a class="siimple-breadcrumb-crumb" href="#">Milestones</a>
        </div>

        <div class="siimple-h1">
            Manage Milestones of <span th:text="|${owner}|"></span>
        </div>

        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">Title</div>
                    <div class="siimple-table-cell">Description</div>
                    <div class="siimple-table-cell">Due On</div>
                    <div class="siimple-table-cell">State</div>
                    <div class="siimple-table-cell">Action</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="title" placeholder="title">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="description" placeholder="description">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid datetimepicker" name="dueOn"
                            placeholder="dueOn">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="state" value="open" placeholder="state"
                            readonly>
                    </div>
                    <div class="siimple-table-cell">
                        <button class="siimple-btn siimple-btn--blue">Create</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="siimple-h1">
            Milestones of <span th:text="|${owner}|"></span>
        </div>

        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">Repository</div>
                    <div class="siimple-table-cell">Target</div>
                    <div class="siimple-table-cell">Milestones</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row" th:each="milestones : ${milestonesMap}" th:object="${milestones}">
                    <div class="siimple-table-cell" th:text="*{key}"></div>
                    <div class="siimple-table-cell">
                        <div class="siimple-checkbox">
                            <input type="checkbox" th:id="|repos-*{key}|" name="repos" th:value="*{key}" checked>
                            <label th:for="|repos-*{key}|"></label>
                        </div>
                    </div>
                    <div class="siimple-table-cell">
                        <span class="siimple-tag siimple-tag--grey" th:each="milestone : *{value}"
                            th:text="${milestone.title}"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(function() {
            $(".datetimepicker").datetimepicker();
        });
    </script>
</body>
</html>