<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Milestones</title>
<th:block th:replace="~{partial/partials :: header}"></th:block>
</head>
<body>
    <th:block th:replace="~{partial/partials :: navbar}"></th:block>

    <form class="siimple-content--fluid" method="post" th:action>
        <div class="siimple-breadcrumb">
            <a class="siimple-breadcrumb-crumb" th:href="@{/}">Home</a>
            <a class="siimple-breadcrumb-crumb" th:href="@{/orgs}">Orgs</a>
            <a class="siimple-breadcrumb-crumb" href="#">Milestones</a>
        </div>

        <div class="siimple-h1">
            Manage Milestones of <span th:text="|${owner}|"></span>
        </div>

        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell siimple-table-cell--3">Title</div>
                    <div class="siimple-table-cell siimple-table-cell--4">Description</div>
                    <div class="siimple-table-cell siimple-table-cell--2">Due On</div>
                    <div class="siimple-table-cell siimple-table-cell--1">State</div>
                    <div class="siimple-table-cell siimple-table-cell--2">Action</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="title" placeholder="title">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid" name="description" placeholder="description">
                    </div>
                    <div class="siimple-table-cell">
                        <input class="siimple-input siimple-input--fluid datetimepicker" name="dueOn"
                            placeholder="dueOn">
                    </div>
                    <div class="siimple-table-cell">
                        <select class="siimple-select siimple-select--fluid" name="state">
                            <option th:each="state : ${@states}" th:text="${state}"></option>
                        </select>
                    </div>
                    <div class="siimple-table-cell">
                        <button class="siimple-btn siimple-btn--blue" title="hoge">Create</button>
                        <button class="siimple-btn siimple-btn--green" name="update">Update</button>
                        <button class="siimple-btn siimple-btn--pink" name="delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="siimple-h1">
            Milestones of <span th:text="|${owner}|"></span>
        </div>

        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">Repository</div>
                    <div class="siimple-table-cell">
                        <div class="siimple-checkbox">
                            <input type="checkbox" id="all-repos" checked>
                            <label for="all-repos"></label>
                        </div>
                    </div>
                    <div class="siimple-table-cell">Milestones</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row" th:each="milestones : ${milestonesMap}" th:object="${milestones}">
                    <div class="siimple-table-cell" th:text="*{key}"></div>
                    <div class="siimple-table-cell">
                        <div class="siimple-checkbox" th:switch="*{#lists.contains(@unavailableRepos, key)}">
                            <input th:case="true" type="checkbox" th:id="|repos-*{key}|" name="repos" th:value="*{key}" disabled>
                            <input th:case="*" type="checkbox" th:id="|repos-*{key}|" name="repos" th:value="*{key}" checked>
                            <label th:for="|repos-*{key}|"></label>
                        </div>
                    </div>
                    <div class="siimple-table-cell">
                        <th:block th:each="milestone : *{value}" th:object="${milestone}">
                            <button type="button"
                                th:class="|siimple-btn siimple-btn--*{state eq 'open' ? 'grey' : 'navy'} copyable|"
                                th:id="${#ids.seq('copyable')}" th:text="*{title}"></button>
                            <input type="hidden" th:id="|description-${#ids.prev('copyable')}|"
                                th:value="*{description}">
                            <input type="hidden" th:id="|dueOn-${#ids.prev('copyable')}|"
                                th:value="*{#temporals.format(dueOn, 'yyyy/MM/dd HH:mm')}">
                            <input type="hidden" th:id="|state-${#ids.prev('copyable')}|" th:value="*{state}">
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(".copyable").on("click", function() {
            const key = $(this).text();
            const id = $(this).attr("id");

            const title = $("input[name='title']");
            const description = $("input[name='description']");
            const dueOn = $("input[name='dueOn']");
            const state = $("select[name='state']");

            title.val(key);
            description.val($("#description-" + id).val());
            dueOn.val($("#dueOn-" + id).val());
            state.val($("#state-" + id).val());

            $("button:contains('Update')").attr("formaction", "milestones/" + key);
            $("button:contains('Delete')").attr("formaction", "milestones/" + key);

            $("html,body").animate({  scrollTop: $('form').offset().top  });
        });
        $("#all-repos").on("change", function() {
            const checked = this.checked;
            $("[id^=repos-]").each(function() {
                if (!this.disabled) {
                    this.checked = checked;
                }
            });
        });
    </script>
</body>
</html>