<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Orgs</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
</head>
<body>
    <div class="siimple-content--fluid">
        <div class="siimple-breadcrumb">
            <a class="siimple-breadcrumb-crumb" th:href="@{/}">Home</a>
            <a class="siimple-breadcrumb-crumb" href="#">Orgs</a>
        </div>

        <div class="siimple-h1">
            Organizations for <span sec:authentication="name"></span>
        </div>

        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">Login</div>
                    <div class="siimple-table-cell">Action</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">
                        <a class="siimple-link" target="_blank"
                            th:href="|${@environment.getProperty('app.url.github')}/${#authentication.name}"
                            sec:authentication="name"></a>
                    </div>
                    <div class="siimple-table-cell">
                        <a class="siimple-btn siimple-btn--blue"
                            th:href="@{/repos/{owner}(owner=${#authentication.name})}">Repos</a>
                        <a class="siimple-btn siimple-btn--blue"
                            th:href="@{/orgs/{owner}/labels(owner=${#authentication.name})}">Labels</a>
                        <a class="siimple-btn siimple-btn--blue"
                            th:href="@{/orgs/{owner}/milestones(owner=${#authentication.name})}">Milestones</a>
                    </div>
                </div>
                <div class="siimple-table-row" th:each="org : ${orgs}" th:object="${org}">
                    <div class="siimple-table-cell">
                        <a class="siimple-link" target="_blank"
                            th:href="|${@environment.getProperty('app.url.github')}/*{login}" th:text="*{login}"></a>
                    </div>
                    <div class="siimple-table-cell">
                        <a class="siimple-btn siimple-btn--blue" th:href="@{/repos/{owner}(owner=*{login})}">Repos</a>
                        <a class="siimple-btn siimple-btn--blue" th:href="@{/orgs/{owner}/labels(owner=*{login})}">Labels</a>
                        <a class="siimple-btn siimple-btn--blue" th:href="@{/orgs/{owner}/milestones(owner=*{login})}">Milestones</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>