<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Repos</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.0.0/dist/siimple.min.css">
</head>
<body>
    <div class="siimple-content--fluid">
        <div class="siimple-breadcrumb">
            <a class="siimple-breadcrumb-crumb" th:href="@{/}">Home</a>
            <a class="siimple-breadcrumb-crumb" th:href="@{/orgs}">Orgs</a>
            <a class="siimple-breadcrumb-crumb" href="#">Repos</a>
        </div>

        <div class="siimple-h1">
            Repositories of <span th:text="${owner}"></span>
        </div>

        <div class="siimple-table siimple-table--border siimple-table--striped siimple-table--hover">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">Name</div>
                    <div class="siimple-table-cell">Description</div>
                    <div class="siimple-table-cell">Has Issues?</div>
                    <div class="siimple-table-cell">Action</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row" th:each="repo : ${repos}" th:object="${repo}">
                    <div class="siimple-table-cell">
                        <a class="siimple-link" target="_blank" th:href="*{htmlUrl}" th:text="*{name}"></a>
                    </div>
                    <div class="siimple-table-cell"
                        th:text="*{(not #strings.isEmpty(description)) and (#strings.length(description) gt 100) ?
                                     #strings.substring(description,0,99) + '...' : description}"></div>
                    <div class="siimple-table-cell">
                        <div class="siimple-checkbox">
                            <input type="checkbox" id="hasIssues" th:checked="*{hasIssues}" readonly> <label></label>
                        </div>
                    </div>
                    <div class="siimple-table-cell">
                        <a class="siimple-btn siimple-btn--blue"
                            th:href="@{/repos/{owner}/{repo}/labels(owner=${owner},repo=*{name})}">Labels</a>
                        <a class="siimple-btn siimple-btn--blue"
                            th:href="@{/repos/{owner}/{repo}/milestones(owner=${owner},repo=*{name})}">Milestones</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>